.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
### Visual Studio Code ###
out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
bin/
.settings
.classpath
.project